absl-py==0.10.0
alabaster==0.7.12
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
argh @ file:///home/conda/feedstock_root/build_artifacts/argh_1595627874344/work
argon2-cffi==20.1.0
astroid @ file:///D:/bld/astroid_1602489308066/work
astunparse==1.6.3
async-generator==1.10
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1588182545583/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1605083924122/work
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1596345643597/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1605182336601/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache==1.6.1
bcrypt @ file:///D:/bld/bcrypt_1602546733559/work
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1599478779128/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1600454382015/work
blis==0.4.1
brotlipy==0.7.0
cachetools==4.1.1
catalogue==1.0.0
certifi==2020.12.5
cffi @ file:///D:/bld/cffi_1606601427219/work
chardet @ file:///D:/bld/chardet_1607673976135/work
click==7.1.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
cryptography @ file:///D:/bld/cryptography_1607606333800/work
cupy-cuda101==8.3.0
cycler==0.10.0
cymem==2.0.3
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch @ file:///home/conda/feedstock_root/build_artifacts/diff-match-patch_1594679019945/work
dill==0.3.3
docutils @ file:///D:/bld/docutils_1608036388806/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
fastrlock==0.5
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1601874335748/work
future @ file:///D:/bld/future_1605203815590/work
gast==0.3.3
google-auth==1.21.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.52.0
grpcio==1.31.0
h5py==2.10.0
helpdev @ file:///home/conda/feedstock_root/build_artifacts/helpdev_1604871301491/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
imageio==2.9.0
imagesize==1.2.0
importlib-metadata @ file:///D:/bld/importlib-metadata_1607976089055/work
importlib-resources==4.0.0
imutils==0.5.3
intervaltree==3.0.2
ipykernel @ file:///D:/bld/ipykernel_1607737443337/work/dist/ipykernel-5.4.2-py3-none-any.whl
ipython @ file:///D:/bld/ipython_1604159743325/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1602591728846/work
jedi @ file:///D:/bld/jedi_1605054770320/work
Jinja2==2.11.2
joblib==0.16.0
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1602551949684/work
jupyter==1.0.0
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1598486169312/work
jupyter-console==6.2.0
jupyter-core @ file:///D:/bld/jupyter_core_1605735243139/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
Keras==2.4.3
Keras-Preprocessing==1.1.2
keyring @ file:///D:/bld/keyring_1608689907508/work
kiwisolver==1.2.0
lazy-object-proxy @ file:///D:/bld/lazy-object-proxy_1602435527887/work
llvmlite==0.34.0
Markdown==3.2.2
MarkupSafe @ file:///D:/bld/markupsafe_1602267515311/work
matplotlib==3.3.1
mccabe==0.6.1
mistune @ file:///D:/bld/mistune_1605115874185/work
murmurhash==1.0.2
mypy-extensions @ file:///D:/bld/mypy_extensions_1607883359032/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1602859080374/work
nbconvert @ file:///D:/bld/nbconvert_1605401997174/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1602732862338/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1605195931949/work
networkx==2.5
notebook==6.1.5
numba==0.51.2
numpy==1.18.5
numpydoc @ file:///home/conda/feedstock_root/build_artifacts/numpydoc_1601580905698/work
oauthlib==3.1.0
opencv-python==4.4.0.42
opt-einsum==3.3.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1607785313469/work
pandas==1.1.2
pandocfilters==1.4.2
paramiko @ file:///home/conda/feedstock_root/build_artifacts/paramiko_1598988093657/work
parso==0.7.1
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1605120834673/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==7.2.0
plac==1.1.3
pluggy @ file:///D:/bld/pluggy_1603384461566/work
preshed==3.0.2
prometheus-client==0.8.0
promise==2.3
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1605053337398/work
protobuf==3.13.0
psutil @ file:///D:/bld/psutil_1608349236490/work
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1589305246696/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pydocstyle @ file:///home/conda/feedstock_root/build_artifacts/pydocstyle_1598747747227/work
pyflakes==2.2.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1607352093725/work
pylint @ file:///D:/bld/pylint_1602598332921/work
pyls-black @ file:///home/conda/feedstock_root/build_artifacts/pyls-black_1595615126037/work
pyls-spyder @ file:///home/conda/feedstock_root/build_artifacts/pyls-spyder_1607739452833/work
PyNaCl @ file:///D:/bld/pynacl_1602614429413/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
pyrsistent @ file:///D:/bld/pyrsistent_1605115843590/work
PySocks @ file:///D:/bld/pysocks_1602327025506/work
python-dateutil==2.8.1
python-jsonrpc-server @ file:///home/conda/feedstock_root/build_artifacts/python-jsonrpc-server_1599827444631/work
python-language-server @ file:///home/conda/feedstock_root/build_artifacts/python-language-server_1607720213724/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1608904108784/work
PyWavelets==1.1.1
pywin32==228
pywin32-ctypes @ file:///D:/bld/pywin32-ctypes_1602283314110/work
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==20.0.0
QDarkStyle @ file:///home/conda/feedstock_root/build_artifacts/qdarkstyle_1604882576864/work
QtAwesome @ file:///home/conda/feedstock_root/build_artifacts/qtawesome_1607463875213/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole_1606282365040/work
QtPy==1.9.0
regex @ file:///D:/bld/regex_1605271133491/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
requests-oauthlib==1.3.0
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1602094471915/work
rsa==4.6
Rtree @ file:///D:/bld/rtree_1608831634275/work
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.4.1
seaborn==0.11.0
Send2Trash==1.5.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
slicer==0.0.3
snowballstemmer==2.0.0
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1605110889605/work
spacy==2.3.2
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1608830515277/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spyder @ file:///D:/bld/spyder_1608429096829/work
spyder-kernels @ file:///D:/bld/spyder-kernels_1608261508601/work
srsly==1.0.2
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.0
tensorflow-datasets==4.1.0
tensorflow-estimator==2.3.0
tensorflow-metadata==0.26.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
textdistance @ file:///home/conda/feedstock_root/build_artifacts/textdistance_1605033355716/work
tf-explain==0.2.1
thinc==7.4.1
threadpoolctl==2.1.0
three-merge @ file:///home/conda/feedstock_root/build_artifacts/three-merge_1595515817927/work
tifffile==2020.9.3
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tornado @ file:///D:/bld/tornado_1604105307492/work
tqdm==4.48.2
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1602771532708/work
typed-ast @ file:///D:/bld/typed-ast_1604870965081/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
ujson @ file:///D:/bld/ujson_1602282247783/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1605225765842/work
wasabi==0.8.0
watchdog @ file:///D:/bld/watchdog_1608362933695/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-inet-pton @ file:///D:/bld/win_inet_pton_1602260090416/work
wincertstore==0.2
wrapt==1.12.1
yapf @ file:///home/conda/feedstock_root/build_artifacts/yapf_1595950469082/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1603668650351/work
